
.header {
    background-color: #0104af;
    padding: 10px 40px;
    box-shadow: 0px 5px 20px 2px #0206ffb2;
}



.link {
    font-size: 18px;
    color: #f2ff00bf;
    text-decoration: none;


    &:hover {
        color: #fff200;
    }

}

